
<!doctype html>
<html>
<head>
    <title>Example Domain</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
    </style>    
</head>

<body>
    <div class="center jumbotron">
      <div class="cover-heading"><h1>Welcome to the Alpha Blog</h1></div>
      <%= link_to 'Getting Started', "#", class: "btn btn-primary btn-lg btn-xlarge" %>
    </div>
</body>
</html>
