$navbar-default-bg: #fff;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  color: #fff;
  background-color: #674EA7;  
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: #fff;
  text-decoration: none;
}

.center{
  text-align: center;
}

.jumbotron{
  background-color: #674EA7;
  // background-image: asset-url('cover-image.jpg');
  background-size: cover;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding-top: 130px;
  padding-bottom: 130px;
  margin: 0;
}

.cover-heading{
  background-color: #8E7CC3;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.cover-heading h1{
  color: white;
  font-weight: bold;
  text-align: center;
  letter-spacing: -1px;
}

.btn-xlarge{
  font-size: 1.7em;
  text-align: center;
  border-width: 2px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  background-color: #333333;
  border-color: black;
  margin: 0;
  width: 75%;
}

.btn-xlarge:hover{
  background-color: #674EA7;
  border-color: black;
}

.btn-xlarge:active{
  background-color: #674EA7 !important;
  border-color: black;
}

html { height: 100%; }

body {
    min-height:100%; 
    position:relative; 
    padding-bottom:85px;
}

footer{ 
  padding: 13px 15px 0px 15px;
  border-top: 1px solid #eaeaea;
  position: absolute; 
  left: 0 ; right: 0; bottom: 0; 
  height: 45px;
  background-color: #F0F0F0;
}

footer a:hover{
  color: #222;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
  font-size: 0.9em;
}

.btn-purple{
  background-color: #674EA7;
  width: 100%;
  color: white;
}

.btn-purple:hover{
  background-color: #563D7C;
  color: white;
}

.btn-purple:active{
  background-color: #563D7C;
  color: white;
}

.description{
  min-height: 280px;
  font-size: 1.3em;
  padding-bottom: 30px;
}

.action-btn{
  margin: 0;
  border-radius: 0;
  width:100%;
}

.article-title{
  font-size: 1.5em;
  font-weight: bold;
}

.article-body{
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}